In [1]:
import pandas as pd
import data_collecting as dc

ModuleNotFoundError: No module named 'data_collecting'

In [8]:
df = pd.read_csv("C:\\Users\\rache\\Documents\\intern_salary_proj\glassdoor_jobs.csv")
print(df)
# C:\Users\rache\Documents\intern_salary_proj

                                           Job Title  Salary Estimate  \
0           Data Analyst/Support Analyst (Bilingual)               -1
1                              Data Analytics Intern               -1
2                                       Data Analyst               -1
3                   Data Scientist Intern (4 months)               -1
4                              Data Scientist Intern               -1
5  2021 Research Intern – Data Science & Machine ...               -1
6                       Data Science Graduate Intern               -1
7                                       Data Analyst               -1
8  Spécialiste des données stagiaire (Été 2021) -...               -1
9                                       Data Analyst               -1

                                     Job Description  Rating  \
0  Who We Are Looking For:\nResponsibilities for ...    -1.0
1  Data Analytics Intern - 00TVR\nDescription\nCo...     4.1
2  Be a part of a dynamic and growing team at Spe...    -1.0
3  Introduction\nAt IBM, work is more than a job ...     3.9
4  Guavus, a Thales company, is seeking a Data Sc...     2.8
5  Our Company\n\nChanging the world through digi...     4.3
6  Auto req ID: 213045BR\nJob Description\nWe are...     3.9
7  Data Analyst (req6086)\nDepartment: Informatio...     4.1
8  Nuance est à la fois précurseur et leader dans...     3.6
9  At Hopper, we’re on a mission to build the mos...     3.5

                           Company Name     Location  Headquarters  \
0                           Motoinsight      Toronto            -1
1                   ConocoPhillips\n4.1      Calgary            -1
2  Special Risk Insurance Managers Ltd.      Langley            -1
3                              IBM\n3.9  Mississauga            -1
4                           Guavus\n2.8     Montreal            -1
5                            Adobe\n4.3       Canada            -1
6                          PepsiCo\n3.9      Windsor            -1
7       University of Saskatchewan\n4.1    Saskatoon            -1
8                           Nuance\n3.6     Montreal            -1
9                           Hopper\n3.5       Canada            -1

                      Size  Founded               Type of ownership  \
0                       -1       -1                              -1
1         10000+ Employees       -1                Company - Public
2                       -1       -1                              -1
3         10000+ Employees     1911                Company - Public
4     201 to 500 Employees     2006  Subsidiary or Business Segment
5         10000+ Employees     1982                Company - Public
6         10000+ Employees     1965                Company - Public
7  5001 to 10000 Employees     1907            College / University
8  5001 to 10000 Employees     1992                Company - Public
9    501 to 1000 Employees     2007               Company - Private

                                  Industry                        Sector  \
0                                       -1                            -1
1       Oil & Gas Exploration & Production  Oil, Gas, Energy & Utilities
2                                       -1                            -1
3                              IT Services        Information Technology
4  Enterprise Software & Network Solutions        Information Technology
5             Computer Hardware & Software        Information Technology
6            Food & Beverage Manufacturing                 Manufacturing
7                  Colleges & Universities                     Education
8             Computer Hardware & Software        Information Technology
9                          Travel Agencies              Travel & Tourism

                    Revenue  Competitors
0                        -1           -1
1        $10+ billion (USD)           -1
2                        -1           -1
3        $10+ billion (USD)           -1
4  $25 to $50 million (USD)           -1
5   $5 to $10 billion (USD)           -1
6        $10+ billion (USD)           -1
7    $1 to $2 billion (USD)           -1
8    $1 to $2 billion (USD)           -1
9  Unknown / Non-Applicable           -1

In [13]:
import pandas as pd
import data_collecting as dc